[submodule "bundle/vim-scripts_AutoTag"]
	path = bundle/vim-scripts_AutoTag
	url = git://github.com/vim-scripts/AutoTag.git
[submodule "bundle/mileszs_ack.vim"]
	path = bundle/mileszs_ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-scripts_argtextobj.vim"]
	path = bundle/vim-scripts_argtextobj.vim
	url = git://github.com/vim-scripts/argtextobj.vim.git
[submodule "bundle/flazz_vim-colorschemes"]
	path = bundle/flazz_vim-colorschemes
	url = git://github.com/flazz/vim-colorschemes.git
[submodule "bundle/jgdavey_vim-turbux"]
	path = bundle/jgdavey_vim-turbux
	url = https://github.com/jgdavey/vim-turbux
[submodule "bundle/benmills_vimux"]
	path = bundle/benmills_vimux
	url = git://github.com/benmills/vimux.git
[submodule "bundle/tpope_vim-surround"]
	path = bundle/tpope_vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/kien_ctrlp.vim"]
	path = bundle/kien_ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/Raimondi_delimitMate"]
	path = bundle/Raimondi_delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/mattn_gist-vim"]
	path = bundle/mattn_gist-vim
	url = git://github.com/mattn/gist-vim.git
